*, html, body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

video{
    width: 414px;
}

.bday 
{
    
  object-fit: cover;
  z-index: 0;
    background:white;
    overflow:hidden;
}

.letter
{
    padding-left:30px;
    padding-right: 10px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif; 
    color: white;
    background: #2b394f;
}

body
{
    margin-top: 0;
}

.songsLetter span
{
    display:block;
    background: #2b394f;
    margin:0;
}

.text1
{
    text-align: center;
    text-transform:uppercase;
    color: white;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: #2b394f;
    position:relative;
    z-index:1;
        color: deepskyblue;

}

.text2
{
    z-index:2;
    font-size: 20px;
    font-weight: bold;
    background: #2b394f;
    color: white;
    padding-top:30px;
    padding-left:20px;
    padding-bottom:50px;
}